NodeRED flow running on EC2.json
[
    {
        "id": "10b8447a38f217aa",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6943c7b8f76309e3",
        "type": "mqtt in",
        "z": "10b8447a38f217aa",
        "name": "",
        "topic": "bulding1/pir",
        "qos": "2",
        "datatype": "auto",
        "broker": "38c41e78b3e14fc2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "c2c80ca31b5a686e",
                "a43825b4f9ca5ccf",
                "66ecf27f4224e937"
            ]
        ]
    },
    {
        "id": "f9f01226f61eec82",
        "type": "ui_text",
        "z": "10b8447a38f217aa",
        "group": "ccedda7cf0a14105",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Gate status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "c2c80ca31b5a686e",
        "type": "mqtt out",
        "z": "10b8447a38f217aa",
        "name": "",
        "topic": "bulding/relay",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38c41e78b3e14fc2",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "cb36ba439a7eeaa3",
        "type": "ui_switch",
        "z": "10b8447a38f217aa",
        "name": "",
        "label": "gate close/open",
        "tooltip": "",
        "group": "ccedda7cf0a14105",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "2",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "3",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "c2c80ca31b5a686e"
            ]
        ]
    },
    {
        "id": "a43825b4f9ca5ccf",
        "type": "function",
        "z": "10b8447a38f217aa",
        "name": "",
        "func": "if(msg.payload == \"1\")\n{\n    msg.payload=\"close the gate\";\n    return msg;\n}\n\nelse{\n    msg.payload=\"open the gate\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 40,
        "wires": [
            [
                "f9f01226f61eec82"
            ]
        ]
    },
    {
        "id": "662948600151803f",
        "type": "e-mail",
        "z": "10b8447a38f217aa",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "hahblm@gmail.com",
        "dname": "Email",
        "x": 390,
        "y": 220,
        "wires": []
    },
    {
        "id": "66ecf27f4224e937",
        "type": "function",
        "z": "10b8447a38f217aa",
        "name": "",
        "func": "var date = new Date();\nvar day = date.getDay();\n\nif(msg.payload == '1')\n{\nmsg.payload = \"gate open\"+ Date().toString();\nmsg.topic = \"status\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 220,
        "wires": [
            [
                "662948600151803f"
            ]
        ]
    },
    {
        "id": "76a15e2524e7d8a3",
        "type": "comment",
        "z": "10b8447a38f217aa",
        "name": "water consumption for building ",
        "info": "",
        "x": 460,
        "y": 260,
        "wires": []
    },
    {
        "id": "5e962b815efc4dfb",
        "type": "mqtt in",
        "z": "10b8447a38f217aa",
        "name": "building ",
        "topic": "Water_Flow2",
        "qos": "2",
        "datatype": "auto",
        "broker": "aad9e5964d4db338",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "21c4b5f827283e68",
                "59183455d9ecd91e"
            ]
        ]
    },
    {
        "id": "21c4b5f827283e68",
        "type": "ui_gauge",
        "z": "10b8447a38f217aa",
        "name": "",
        "group": "90a47a6acebc0e14",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Water consumption ",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 370,
        "y": 320,
        "wires": []
    },
    {
        "id": "182cf2337c5316b8",
        "type": "ui_text",
        "z": "10b8447a38f217aa",
        "group": "90a47a6acebc0e14",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Warnings!",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "aebcaa43796beb77",
        "type": "mqtt in",
        "z": "10b8447a38f217aa",
        "name": "",
        "topic": "Water_Flow_warning2",
        "qos": "2",
        "datatype": "auto",
        "broker": "aad9e5964d4db338",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 380,
        "y": 360,
        "wires": [
            [
                "182cf2337c5316b8"
            ]
        ]
    },
    {
        "id": "59183455d9ecd91e",
        "type": "function",
        "z": "10b8447a38f217aa",
        "name": "",
        "func": "let s = msg.payload;\nvar date = new Date();\nvar day = date.getDay();\nvar dayname= \"\" ;\n\nvar test = parseFloat(s) ;\n\nif (test >= 2.00 & test < 4 ){\n    \n   msg = {\n        payload : \"You are almost reaching today’s limit!!. \" + Date().toString() ,\n        topic : \"Water Mangement \"\n    };\n    \n    return msg;\n}\n\nelse if (test > 4.00 ){\n   msg = {\n        payload : \"WARNING!! You have consumed today’s limit., the water supply will be cut off..\" + Date().toString() ,\n        topic : \"Water Mangement \"\n    };\n    return msg;\n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 460,
        "wires": [
            [
                "fda9de1a9e64e3e9",
                "dcddcbf4770d8b2a"
            ]
        ]
    },
    {
        "id": "fda9de1a9e64e3e9",
        "type": "debug",
        "z": "10b8447a38f217aa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 500,
        "wires": []
    },
    {
        "id": "dcddcbf4770d8b2a",
        "type": "e-mail",
        "z": "10b8447a38f217aa",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "hajeralmetairy20@gmail.com",
        "dname": "",
        "x": 580,
        "y": 460,
        "wires": []
    },
    {
        "id": "7c49685da5bfb542",
        "type": "ui_spacer",
        "z": "10b8447a38f217aa",
        "name": "spacer",
        "group": "7cdc84553db1ac80",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "38c41e78b3e14fc2",
        "type": "mqtt-broker",
        "name": "building ",
        "broker": "18.116.32.245",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ccedda7cf0a14105",
        "type": "ui_group",
        "name": "Controll the gate",
        "tab": "3d2403f681611199",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "aad9e5964d4db338",
        "type": "mqtt-broker",
        "name": "Water consumption ",
        "broker": "18.116.32.245",
        "port": "1883",
        "tls": "62935c268ae2d4fc",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "90a47a6acebc0e14",
        "type": "ui_group",
        "name": "Water consumption ",
        "tab": "3d2403f681611199",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3d2403f681611199",
        "type": "ui_tab",
        "name": "Building ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "62935c268ae2d4fc",
        "type": "tls-config",
        "name": "IoT core",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "certificate.pem.crt",
        "keyname": "private.pem.key",
        "caname": "AmazonRootCA1 (2).pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]